<tr>
<td>
<h3 class="text-center"><%= product.name %></h3>
</td>
<td>
<div class="text-center">
  <%= image_tag product.image.tiny %>
  </div>
  </td>
  <br>
  <small><%= product.description %></small>
<br>
<div class="text-center">
  <td>
  <h5 class="isNum"><%= quantity %> × <%= humanized_money_with_symbol product.price %></h5>
  </td>
  <td>
   <h4 class="isNum"><b>Total: <%= humanized_money_with_symbol product.price * quantity %></b></h4>
  </td>
  </div>
</tr>